[submodule "gtest"]
	path = src/third_party/gtest
	url = https://github.com/google/googletest
[submodule "mavsdk-proto"]
	path = proto
	url = https://github.com/jeyong/MAVSDK-Proto.git
[submodule "src/third_party/mavlink"]
	path = src/third_party/mavlink
	url = https://github.com/jeyong/mavlink.git
